.tt{
    color: firebrick;
}
#tt{
    color: gold;
}
h2{
    color: green;
}




/* specificity 

              styleinline  id   (class / pseudo class / attr selector) element
          
   styleinline      1       0               0                             0  == 1000
   id               0       1               0                              0  ==  100
   class            0       0               1                              0  == 10
   element          0       0                0                             1  === 1
 
*/

